<table class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Nr telefonu</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ contact.surname }}</td>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.phoneNumber }}</td>
            <td>
                <button (click)="delContact(contact.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <!-- <button class="btn btn-danger">Usuń</button> -->
            </td>
        </tr>
    </tbody>
</table>

<button mat-fab color="primary">
 <mat-icon>add</mat-icon>
</button>
